*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.w_90{
    width:90%;
}

body{
    width:100%;
    min-height: 100vh;
    background: #fff;
    font-family: 'Comme', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
}

.container{
    width:90%;
    margin:  0 auto;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.left-bar{
    display: flex;
}

.left-bar-item{
    background:rgba(38,42,45,0.8);;
    width:15px;
    height:15px;
}

.left-bar-item:nth-child(2){
    border-radius:50%;
    margin:0px 5px;
}

.left-bar-item:nth-child(3){
    border-radius:50%;
}

.right-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-bar-txt-btn{
    color: #fff;
    background-color: #3A414A;
    padding: 6px 20px;
    border-radius: 13px;
    border: none;
    cursor: pointer;
}
.right-bar-btn{
    background-color: #F0F0F0;
    padding: 2px 6px 6px;
    border-radius: 18px;
    margin: 0 0 0 10px;
    cursor: pointer;
    /* color: #F0F0F0; */
    border: 1px solid #F0F0F0;
}
h1, p {
    /* padding: 16px; */
    margin-bottom: 30px;
}
.center-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 22px 0px;
}
.center-heading{
    font-size:26px;
    color:rgba(38,42,45,0.8);;
}
.center-subheading{
    font-size: 10px;
}
.center-btn{
    background-color: #3A414A;
    color:#fff;
    border-radius:22px;
    padding:9px 20px;
    border: none;
    cursor: pointer;
}
.bottom-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bottom-items{
    height: 400px;
    width: 393px;
}
.bottom-items:nth-child(1){
    background-image: url(img/house1.jpg);
    background-size: 100% 100%;
    background-position: top;
}
.bottom-items:nth-child(2){
    background-image: url(img/house2.jpg);
    background-size: 100% 100%;
    background-position: top;
}
.bottom-items:nth-child(3){
    background-image: url(img/house3.jpg);
    background-size: 100% 100%;
    background-position: top;
}
@media only screen and (max-width: 768px) {

}